.summary-table-wrapper {
  width: 100%;
  overflow-x: auto;
  padding: 16px;
  box-sizing: border-box;
}

.summary-table {
  border-collapse: collapse;
  width: max-content;
  min-width: 100%;
}

.summary-table th,
.summary-table td {
  min-width: 100px;
  padding: 8px 6px;
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
  font-size: 12px;

  white-space: nowrap;
}

.summary-table thead {
  background-color: #f5f5f5;
  font-weight: bold;
}